# Node modules
node_modules/
**/node_modules/

# Env files
.env
**/.env

# Build outputs
dist/
**/dist/
build/
**/build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma artifacts
prisma/dev.db
prisma/*.sqlite
prisma/migrations/
**/prisma/dev.db
**/prisma/*.sqlite
**/prisma/migrations/

# IDE settings
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db
